<p id="notice"><%= notice %></p>

<h1>Listing People</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Edad</th>
      <th>Fecha de nacimiento</th>
      <th>Email</th>
      <th>Telefono</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.mother_name %></td>
        <td><%= person.age %></td>
        <td><%= person.birthday %></td>
        <td><%= person.email %></td>
        <td><%= person.phone%></td>
        <td><%= link_to 'Mostrar', person %></td>
        <td><%= link_to 'Editar', edit_person_path(person) %></td>
        <td><%= link_to 'Eliminar', person, method: :delete, data: { confirm: 'está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Persona', new_person_path, class: 'btn btn-primary' %>
